body {
  background-color: #b91450;
}

#input-container {
  border-radius: 20px;
  box-shadow: 0px 6px 45px 10px rgba(0, 0, 0, 0.55);
}

#input-container label,
#input-container button {
  color: #b91450;
}
#input-container input,
#input-container select {
  border-radius: 10px;
  border-color: #b91450;
  background-color: #fff;
}
#input-container button {
  border-radius: 10px;
  border-color: #b91450;
}
#input-container button:active {
  border-color: orange;
}
#input-container,
#print-container {
  background-color: #fff;
}

/* Print container */
#print-container .row > * {
  padding-top: 10px;
}
#print-container .col.row {
  border: 1px solid #808080;
  border-right: none;
  border-left: none;
}

#print-container .col-3 {
  background-color: #808080;
  height: 120px;
}
